h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
#cta {
  background-color: #ff4c68;
  font-family: 'Montserrat-Black', sans-serif;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
  font-size: 3.5em;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#pricing {
  padding: 100px;
}


.container-fluid {
  padding: 3% 15% 7%;
}
.container-fluid {
  padding: 3% 5%;
}

.pos {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.navbar-brand {
  font-size: 2.5rem;
}

.two {
  float: left;
  text-align: center;
  padding: 2rem;
}

.one {
  text-align: center;
  float: left;
  padding: 2rem;
}

.three {
  padding: 2rem;
  text-align: center;
}

.fa-check-circle:hover {
  color: #ff4c68;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}

.carousel-item {
  padding: 7% 15%;
}

.img-t {
  border-radius: 100%;
  margin: 20;
  width: 10rem;
}

.press-img {
  width: 15%;
  margin: 20px;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.foo {
  padding: 3%;
}

@media (max-width:1000px) {
  .pos {
    position: static;
    transform: rotate(0);
  }

  #title {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
  }
}
